code,
pre {
  color: #fff;
  background: rgba(53,116,224,.9);
  overflow-x: auto;
  font-size: 14px;
  font-family: 'Fira Code', monospace;
  border-radius: 3px;
}

code {
  word-break: break-all;
  padding: 0.1em;
}

pre {
  padding: 1em;
}

