p,
ul li,
ol li {
  font-size: 1.2rem;
  line-height: 1.5;
  
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.15rem;
  line-height: 1.15;
}

h2,
h3,
h4 {
  font-weight: 500;
}

/*
a {
  color: var(--color-text);
  text-decoration: none;
}

a[href^="https://twitter.com"]
{
  color: #55acee;
}

a[href^="https://instagram.com"]
{
  color: #ffb64d;
}

a[href^="https://buymeacoff.ee"]
{
  color: #ffdd00;
}
*/